{% extends 'base.html' %}
{% block content %}
<h1>Личный кабинет: {{ name }}</h1>
<h3>Избранное</h3>
<div class='grid'>
{% for fav in favorites %}
  <div class='card'>
      <img src='{{ fav.content.poster }}' class='poster'>
      <h3>{{ fav.content.title }}</h3>
      <a href='/movie/{{ fav.content.id }}' class='btn'>Смотреть</a>
      <a href='/favorite/{{ fav.content.id }}' class='btn btn-fav'>Удалить из избранного</a>
  </div>
{% else %}
<p>У вас нет избранных фильмов</p>
{% endfor %}
</div>
{% endblock %}
