{% extends 'base.html' %}
{% block content %}
<h1>Добро пожаловать в Dino-Log</h1>
<h3>Популярное</h3>
<div class='grid'>
{% set fav_ids = favorites | map(attribute='content_id') | list %}
{% for m in movies %}
  <div class='card'>
      <img src='{{ m.poster }}' class='poster'>
      <h3>{{ m.title }}</h3>
      <a href='/movie/{{ m.id }}' class='btn'>Смотреть</a>
      {% if session.get('user_id') %}
        {% if m.id in fav_ids %}
          <a href='/favorite/{{ m.id }}' class='btn btn-fav'>Удалить из избранного</a>
        {% else %}
          <a href='/favorite/{{ m.id }}' class='btn btn-fav'>Добавить в избранное</a>
        {% endif %}
      {% endif %}
  </div>
{% endfor %}
</div>
{% endblock %}
